/*styles for first day website*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: #f4ebe1;
}

header {
	display: block;
	font-family: 'Libre Baskerville', serif;
	background-color: #72522b;
	min-height: 160px;

}

a {
	font-family: 'Alegreya Sans SC', sans-serif;
	text-decoration: none;
	color: #ef974f;
}

.styled-select {
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
	height: 29px;
	overflow: hidden;
	width: 240px;
	background-color: #ef974f;
	border-radius: 5px;
	vertical-align: bottom;
}
.styled-select select {
   background: transparent;
   font-size: 1em;
   height: 28px;
   padding: 15px;
   width: 268px;
}

.main-nav {
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: 60px;
}

#nav-list {
	margin: 0;
}
.main-nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 25px;
	font-size: 1.3em;
}

.logo {
	display: inline-block;
	margin-left: 25px;
	margin-top: 10px;
}

/*main section css*/


main {
	display: flex;
	flex-direction: column;
}

.trail-detail {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.trail {
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	background-color: #9d9d9d;
}

.trail h2 {
	margin: 10px auto;
}
.bike-ipsum {
	padding: 10px;
}

.left-text {
	float: left;
	width: 50%;
}

.right-text {
	float: right;
	width: 50%;
}

footer {
	text-align: center;
}

@media screen and (max-width: 990px) {
	header {
		min-height: 250px;
	}

	.main-nav {
		/*display: block;*/
		margin: 0 auto;
		width: 100%;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}
}
